body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* min-height: 80vh; */
    font-family: Arial;
    background-color: #fcfafa;
}
.login-container {
    background-color: #fff;
    border: 2px solid #3498db;
    border-radius: 20px;
    width: 25%;
    padding: 20px;
    margin-top: 50px;
}
.login-title {
    font-size: 2em;
    color: #3498db;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.flex-form {
    display: flex;
    flex-direction: column;
}
.input {
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
a.btn-primary,
a.btn-primary:visited,
a.btn-primary:active,
a.btn-primary:hover,
a.btn-secondary,
a.btn-secondary:visited,
a.btn-secondary:active,
a.btn-secondary:hover {
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}
.btn-primary {
    font-size: 1.3em;
    color: #fff;
    padding: 7px;
    margin-bottom: 8px;
    background-color: #3498db;
    border: 1px solid #3498dbd2;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #3498dbd2;
}
.btn-secondary {
    font-size: 1.3em;
    color: #fff;
    padding: 7px;
    margin-bottom: 8px;
    background-color: #27ae60;
    border: 1px solid #2cbb67;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: #2cbb67;
}
.signup-container {
    background-color: #fff;
    border: 2px solid #27ae60;
    border-radius: 20px;
    width: 25%;
    padding: 20px;
    margin-top: 50px;
}
.signup-title {
    font-size: 2em;
    color: #27ae60;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.error {
    border: 1px solid red;
}
.error-msg {
    color: red;
}